<div class="text-center">
    <h1 class="display-4">Please choose your user</h1>
    <p>Login as:</p>
    <a asp-controller="Login" asp-action="DispatcherLogin" class="btn btn-primary">Dispatcher</a>
    <a asp-controller="Login" asp-action="OperatorLogin" class="btn btn-primary">Operator</a>
</div>
