<div class="text-center">
    <h1 class="display-4">Please choose your user</h1>
    <p>Login as:</p>
    <a asp-controller="Radio" asp-action="Register" class="btn btn-primary">Dispatcher</a>
    <a asp-controller="Operator" asp-action="Map" class="btn btn-primary">Operator</a>
</div>
