@using Syncfusion.EJ2;
@using Vue.Net;
@using Vue;
@using VueCliMiddleware;
@model RadioModel

<h2>Register your radios</h2>

<div id="success-alert" class="alert alert-success" style="display: none">Radio registered!</div>
<div id="error-alert" class="alert alert-danger" style="display: none">Ups.. something goes wrong while registering radio, make sure that all fields are filed properly</div>

<form method="POST" id="formData">
    <div class="form-group">
        <label asp-for="Name">Radio name</label>
        <input asp-for="Name" class="form-control" v-model="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type">Radio Type</label>

        <select asp-for="Type" class="form-control" v-model="Type">
            Choose radio type
            <option value="MobileDevice">Mobile Device</option>
            <option value="CarDevice">Car Device</option>
            <option value="BaseStation">Base Station</option>
        </select>

        <span asp-validation-for="Type"></span>

    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" v-model="SerialNumber" />
        <span asp-validation-for="SerialNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="SignalStrength">Signal Strength</label>
        <input asp-for="SignalStrength" class="form-control" v-model="SignalStrencht" />
        <span asp-validation-for="SignalStrength"></span>
    </div>

    <div class="form-group">
        <label asp-for="BatteryLevel">Battery Level</label>
        <input asp-for="BatteryLevel" class="form-control" v-model="BatteryLevel" />
        <span asp-validation-for="BatteryLevel"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mode">Radio Type</label>

        <select asp-for="Mode" class="form-control" v-model="Mode">
            Choose radio type
            <option value="VoiceCall">Voice Call</option>
            <option value="DataTransit">Data Transit</option>
            <option value="Idle">Idle</option>
        </select>

        <span asp-validation-for="Mode"></span>

    </div>

    <div class="form-group">
        <button class="btn btn-primary" id="submit">Register</button>
    </div>

</form>

<div>
    <button class="btn" onclick="window.location.href='./RegisterConfirmation'">View registred radios</button>
</div>

<br />

@*   Open street maps to be added  *@

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/registerNewRadio.js"></script>
}