@model RadioModel

<h2>Register your radios</h2>

<div id="success-alert" class="alert alert-success" style="display: none">Radio registered!</div>
<div id="error-alert" class="alert alert-danger" style="display: none">Ups.. something goes wrong while registering radio, make sure that all fields are filed properly</div>

<form method="POST" id="formData">
    <div class="form-group">
        <label asp-for="Name">Radio name</label>
        <input asp-for="Name" class="form-control" v-model="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type">Radio Type</label>

        <select asp-for="Type" class="form-control" v-model="Type">
            Choose radio type
            <option value="MobileDevice">Mobile Device</option>
            <option value="CarDevice">Car Device</option>
            <option value="BaseStation">Base Station</option>
        </select>

        <span asp-validation-for="Type"></span>

    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" v-model="SerialNumber" />
        <span asp-validation-for="SerialNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="SignalStrength">Signal Strength</label>
        <input asp-for="SignalStrength" class="form-control" v-model="SignalStrencht" />
        <span asp-validation-for="SignalStrength"></span>
    </div>

    <div class="form-group">
        <label asp-for="BatteryLevel">Battery Level</label>
        <input asp-for="BatteryLevel" class="form-control" v-model="BatteryLevel" />
        <span asp-validation-for="BatteryLevel"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mode">Radio Type</label>

        <select asp-for="Mode" class="form-control" v-model="Mode">
            Choose radio type
            <option value="VoiceCall">Voice Call</option>
            <option value="DataTransit">Data Transit</option>
            <option value="Idle">Idle</option>
        </select>

        <span asp-validation-for="Mode"></span>

    </div>

    <div class="form-group">
        <label asp-for="Unit">Radio Type</label>

        <select asp-for="Unit" class="form-control" v-model="Mode">
            Choose radio type
            <option value="Police">Police</option>
            <option value="Emergency">Emergency</option>
            <option value="FireBrigade">FireBrigade</option>
        </select>

        <span asp-validation-for="Unit"></span>

    </div>

    <div class="form-group">
        <button class="btn btn-primary" id="submit">Register</button>
    </div>

</form>

<div>
    <button class="btn" onclick="window.location.href='./RegisterConfirmation'">View registred radios</button>
</div>

<style>
    .btn {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }
</style>

<br />

@* OSM Component *@


@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

    <div id="map" class="map"></div>*@

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<style>
    .map {
        height: 400px;
        width: 100%
    }
</style>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div id="radioMap" class="map"></div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/registerNewRadio.js"></script>
    <script src="~/js/mapEntry.js"></script>
}