@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Radio operation simulator</h1>
    <p>Welcome to operation control simulator, where you could register and tracking your radios!</p>
    <p><a class="nav-link text-blue" asp-controller="Radio" asp-action="Register">Come here and see</a></p>
</div>
